[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky.git
	branch = kirkstone
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "meta-rpi-custom"]
	path = meta-rpi-custom
	url = https://github.com/Div1neLegacY/meta-rpi-custom.git
	branch = master
